body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
@font-face {
    font-family: Permanent-Marker;
    src: url('https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@700&display=swap');
}

/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Tillana:wght@700&display=swap'); */
#container { 
    background-image: url(https://us.123rf.com/450wm/yamabikay/yamabikay1705/yamabikay170500039/77519356-green-felt-texture-for-poker-an-casino-theme-seamless-square-background-tile-ready-high-resolution-p.jpg?ver=6);
    width: 100vw;
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

#fullScreenBtn, #resetBtn {
    color: white;
    font-family: fantasy;
    /* font-weight: bold; */
    background-color: saddlebrown;
    box-sizing: border-box;
    border: 1px;
    border-color: darkgoldenrod;
    border-style:ridge;
    border-radius: 5px;
}

#resetBtn {
    position: relative;
    left: -200px;
    top: -100px;
}

 /* GET TEXTURES FOR BGS */
#title {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 0px 0px 0px;
    color: aliceblue;
    font-family: fantasy;
    font-weight: bold;
    background-color: saddlebrown;
    box-sizing: border-box;
    border: 10px;
    border-color: darkgoldenrod;
    border-style:ridge;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gameBoard {
    margin-bottom: 5px;
    margin-top: 5px;
    /* margin: 0px; */
    width: 200px;
    min-height: 350px;
    background-image: url("./img/0.jpg");
    /* background-size:contain; */
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 10px;
    border-color: darkgoldenrod;
    border-style:ridge;
    border-radius: 5px;
    padding: 0px;
    
}

#inputWord {
    /* background-color: blueviolet; */
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#inputWord div {
    font-family: Permanent-Marker;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    width: 32px;
    height: 40px;
    /* background-color: rgb(39, 198, 79); */
    color: white;
    border-bottom: 4px white solid;
}
/* GET TEXTUYRE FOR BGS */
#keyBoard {
    border: solid;
    box-sizing: border-box;
    border: 10px;
    border-radius: 5px;
    border-color: darkgoldenrod;
    border-style:ridge;
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: saddlebrown;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;  
}


.keyRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;  
    /* align-items: center; */
}

.keyRow3 {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;  
    /* align-items: center; */
}

.keyBlock {
    padding: 2px;
    background-color: goldenrod;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-bottom: 5px solid darkgoldenrod;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;  
    display: flex;
    /* height: 40px; */
}


.inactiveKey {
    padding: 2px;
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-bottom: 5px solid darkgoldenrod;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;  
    display: flex;
}

.correctKey {
    padding: 2px;
    flex-grow: 1;  
    display: flex;
    border-bottom: 5px solid darkgoldenrod;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    /* font-size:500%; */
    /* color:blue; */
}
.starBlock {
    padding:7px;
    position: absolute;
    top: center;
    left: center;
    /* flex-grow: 1;  */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:100%;
    color:black;
}

@media screen and (max-width: 480px) {
    .starBlock {
      font-size: 50%;
    }
  }