*{
    box-sizing: border-box;
}
body {
    user-select: none;
    -webkit-user-select: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-image: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(0, 100, 0, 0.5)), url(https://us.123rf.com/450wm/yamabikay/yamabikay1705/yamabikay170500039/77519356-green-felt-texture-for-poker-an-casino-theme-seamless-square-background-tile-ready-high-resolution-p.jpg?ver=6);
    /* background:) */
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Tillana:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#container {
    background-image: url(https://us.123rf.com/450wm/yamabikay/yamabikay1705/yamabikay170500039/77519356-green-felt-texture-for-poker-an-casino-theme-seamless-square-background-tile-ready-high-resolution-p.jpg?ver=6);
    width: 550px;
    /* max-width: 600px; */
    height: 100%;
    max-height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: auto; */
    border: 10px;
    border-color: darkgoldenrod;
    border-style:ridge;
    position: relative;
}

.btn {
    color: white;
    font-family: serif;
    /* font-weight: bold; */
    background-color: saddlebrown;
    border: 1px;
    border-color: darkgoldenrod;
    border-style:ridge;
    border-radius: 5px;
    letter-spacing: 1px;
}

.reset {
    position: absolute;
    left: 1%;
    top: 20%;
}
.fourLetters{
    position: absolute;
    left: 2%;
    bottom: 47%;
}
.fiveLetters{
    position: absolute;
    left: 2%;
    bottom: 53%;
}
.sixLetters{
    position: absolute;
    left: 2%;
    bottom:59%;
}
.selected{
    background-color: rgb(104, 52, 15);
}

 /* GET TEXTURES FOR BGS */
#title {
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 9px 0px;
    color: aliceblue;
    font-family:Lobster;
    font-size:2em;
    letter-spacing: 2px;
    background-color: saddlebrown;
    box-sizing: border-box;
    border: 10px;
    border-color: darkgoldenrod;
    border-style:ridge;
    border-radius: 0px 0px 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gameBoard {
    margin-bottom: 5px;
    margin-top: 5px;
    /* margin: 0px; */
    width: 200px;
    min-height: 350px;
    /* background-image: url("./img/0.jpg"); */
    /* background-size:contain; */
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 10px;
    border-color: darkgoldenrod;
    border-style:ridge;
    border-radius: 5px;
    padding: 0px;

}

#inputWord {
    /* background-color: blueviolet; */
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
@keyframes paintLetter {
    from{
        font-size: 10px;
    }to{
        font-size: 50px;
    }
}
#inputWord div {
    font-family: Permanent Marker;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    width: 32px;
    height: 40px;
    color: white;
    border-bottom: 4px white solid;
    animation-name: paintLetter;
    animation-duration: 1s;
}
/* GET TEXTUYRE FOR BGS */
#keyBoard {
    border: solid;
    box-sizing: border-box;
    border: 10px;
    border-radius: 5px 5px 0px 0px;
    border-color: darkgoldenrod;
    border-style:ridge;
    width: 100%;
    max-width: 600px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: saddlebrown;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


.keyRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* align-items: center; */
}

.keyRow3 {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* align-items: center; */
}

.keyBlock {
    position: relative;
    padding: 2px;
    background-color: goldenrod;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-bottom: 5px solid darkgoldenrod;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}

.inactiveKey {
    padding: 2px;
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-bottom: 5px solid darkgoldenrod;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}

@keyframes correct {
    0% {}
    25% {bottom: 10px; rotate: 10deg;}
    100% {rotate: 0deg;}
}
.correctKey {
    background-color: rgb(252, 191, 36);
    /* position: relative; */
    padding: 2px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(139, 103, 11);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    animation-name: correct;
    animation-duration: .3s;
    font-weight: bolder;
}
.starBlockCont{
    position: absolute;
    width: 100%;
    max-height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.starBlock {
    /* position:absolute; */
    font-size: 8pt;
    color:black;
}

@media screen and (max-width: 480px) {
    body{
        display: block;
        height: 100vh;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .starBlock {
        padding-top: 15px;
        font-size: 50%;
    }
    #container{
        width: 100%;
        min-height: 100%;
    }
    #title{
        width: 100%;
        margin: 0px;
        font-size:1.5em;
        border: 8px;
        border-color: darkgoldenrod;
        border-style:ridge;
        border-radius: 0px 0px 5px 5px;
        /* padding-top: 0px; */
        /* padding-bottom: 8px; */
    }
    .btn{
        letter-spacing: 0px;
    }
    #keyBoard {
        border: solid;
        border: 8px;
        border-color: darkgoldenrod;
        border-style:ridge;
        padding-top: 5px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
    .keyBlock {
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 3px;
    }
    #inputWord {
        padding-bottom: 20px;
    }
    #inputWord div {
        font-size: 30px;
        height: 30px;
    }

  }